@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@200;300;400;500;700;&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.amazon{
    background: #f5f4f2; 
    transition: 0.2s ease-in-out;
    z-index: 0;
    filter: blur(8px);
}
.amazon.dark{
    background: #191919;
    transition: 0.2s ease-in-out;
}
:root{
    --blue:#151d26;
    --orange:#ff9800;
    --white:#3c4550;
    --blueShade:#222f3e;
    --whiteShade:#bec2c6;
}
header{
    height:10vh;
    width:100vw;
    background:var(--blue);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left-part-container{
    height:40px;
    width:110px;
    margin-left:2%;
}
.left-part{
    height:100%;
    width:100%;
    background-image: url("http://pngimg.com/uploads/amazon/amazon_PNG11.png");
    background-position:bottom;
    background-size:90% 90%;
    background-repeat: no-repeat;
}


.mid-part{
    height:50%;
    width:420px;
    background-color: #eaeced;
    border-radius: 10px;
    display: flex;
    margin-left: 10%;
    border:1px solid var(--white);
}
input{
    width:265px;
    outline: none;
    height:100%;
    border:none;
    border-radius: 9px 0 0 9px;
    background: var(--blueShade);
    color: var(--whiteShade);
}
input::placeholder{
    color:var(--whiteShade);
    left:2%;
    padding:10px;
    font-size: 0.9em;
}
#category{
    width:125px;
    height:100%;
    outline:none;
    border:none;
    border-left:1px solid var(--white);
    background: var(--blueShade);
    color: var(--whiteShade);
    font-size: 0.7em;

}
.searchBox{
    width:50px;
    height:100%;
    background: var(--orange);
    border-radius: 0 9px 9px 0;
}
.searchIcon{
    height:100%;
    width:100%;
    background: url("./images/icons8-search-50.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 70%;
}

.right-part{
    height:50%;
    width:20%;
    margin-left: 25%;
    display: flex;
    justify-content: space-between;
}
.right-container{
    height:100%;
    width:15%;
    background: #ff9800;
}
@media screen and (max-width: 1104px) {
    .right-container{
        display: none;
    }
    .right-part{
        height:1px;
        width:35px;
        background: var(--whiteShade);
    }
    .right-part::after{
        content: '';
        position:absolute;
        height:1px;
        width:35px;
        background: var(--whiteShade);
        top: 25px;
    }
    header{
        height:10vh;
        width:auto;
        background:var(--blue);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
  }
  @media screen and (max-width: 897px){
    .right-part{
        display: none;
    }
  }
  @media screen and (max-width: 614px){
    header{
        flex-direction: column;
        width:100%;
    }
  }
#heart{
    background:url("./images/icons8-favorite-30.png");
    background-position: center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.right-container.light{
    background:url("./images/icons8-sun-50.png");
    background-position: center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    transition: 0.2s ease-in-out;
}
.right-container.light.dark{
    background:url("./images/icons8-crescent-moon-50.png");
    background-position: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    transition: 0.2s ease-in-out;
}

#cart{
    background:url("./images/icons8-shopping-cart-24.png");
    background-position: center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}
#bell{
    background:url("./images/icons8-notification-25.png");
    background-position: center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}
#profile{
    background:url("./images/icons8-male-user-50.png");
    background-position: center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.banner{
    height:35vh;
    width:90vw;
    background: linear-gradient(to right, #ff9800 ,#ffb84e);
    margin-left: 5%;
    border-radius: 20px;
    margin-top: 3%;
    display: flex;
    align-items: center;
}
.banner.dark{
    background: linear-gradient(to right, #2d2d2d ,#bdbdbd);
}
.banner-container{
    height:65%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2%;
    position: relative;
}
.banner h1{
    color:#fff;
}
.banner p{
    color: #eaeced;
    font-size: 0.8em;
}
.browse-button{
    height:20%;
    width:140px;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-weight: 700;
    font-size: 0.9em;
}
.browse-button p{
    color:var(--orange);    
}

/* categories */

.categories{
    height:50vh;
    width:90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
}
.categories.dark{
    color:var(--whiteShade);
}

.categories-container{
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    height:280px;
    width: 15%;
    background:#fff;
    border-radius: 14px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.dress{
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2022/February/DashboardCards/Fuji_dash_dress_2X._SY608_CB626369146_.jpg");
}
.dress::after{
    content:"Dresses";
    position:absolute;
    width:10%;
    height:20px;
    top: 102%;
}
.health{
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2022/February/DashboardCards/GW_CONS_AUS_HPC_HPCEssentials_CatCard_Desktop2x._SY608_CB627424361_.jpg");
}
.health::after{
    content:"Health Products";
    position:absolute;
    width:10%;
    height:20px;
    top: 102%;
}

.electronics{
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_Electronics_2x._SY608_CB432774322_.jpg");
}
.electronics::after{
    content:"Electronics";
    position:absolute;
    width:10%;
    height:20px;
    top: 102%;
}
.easy-return{
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_Returns_2x._SY608_CB432774709_.jpg");
}
.easy-return::after{
    content:"Easy return";
    position:absolute;
    width:10%;
    height:20px;
    top: 102%;
}
.camera{
    background-image: url("./images/camera.jpg");
}
.camera::after{
    content:"Camera";
    position:absolute;
    width:10%;
    height:20px;
    /* background: var(--white); */
    top: 102%;
}

.phone{
    background-image: url("https://m.media-amazon.com/images/I/81ZEdtYBYfL._AC_SY400_.jpg");
}
.phone::after{
    content:"Oneplus 10 Pro";
    position:absolute;
    width:10%;
    height:20px;
    /* background: var(--white); */
    top:153%;
}
.laptop{
    background-image: url("https://m.media-amazon.com/images/I/71SCvh0L3OL._AC_SY400_.jpg");
}
.laptop::after{
    content:"Acer Predator";
    position:absolute;
    width:10%;
    height:20px;
    top:153%;
}
.book{
    background-image: url("https://m.media-amazon.com/images/I/51xUZItrHJL._AC_SY400_.jpg");
}
.book::after{
    content:"Design Book";
    position:absolute;
    width:10%;
    height:20px;
    top:153%;
}

.samsung{
    background-image: url("https://m.media-amazon.com/images/I/71Sa3dqTqzL._AC_SY400_.jpg");
}
.samsung::after{
    content:"Samsung Galaxy";
    position:absolute;
    width:10%;
    height:20px;
    top:153%;
}

.watch{
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/September/DashboardCards/Fuji_Dash_SmartWatch_2X._SY608_CB639922111_.jpg");
}
.watch::after{
    content:"Watch";
    position:absolute;
    width:10%;
    height:20px;
    top:153%;
}


footer{
    height:40vh;
    width:100vw;
    background: var(--blue);
    margin-top: 10%;
}

.footer-container{
    width:70%;
    height:100%;
    margin-left: 15%;
    display: flex;
    align-items:center;
    justify-content: space-around;
    color:var(--whiteShade);
    font-size: 0.8em;
}
ul li{
    list-style-type: none;
    margin-top: 10px;
}
.coupon{
    height:300px;
    width:500px;
    position: absolute;
    z-index: 99;
    background: url(https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/student/Puma_EN_Desk.png);
    background-position: center;
    background-size: cover;
    top:100px;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 9px;
    visibility: visible;
}
.close-coupon{
    position:absolute;
    height:18px;
    width:18px;
    border: 1px solid var(--blue);
    color: var(--blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left:498px;
    top:-10px;
    cursor: pointer;
}

